<div class="container">
    <section class="title">
        <h1>{{products.name}}</h1>
    </section>
    <section class="description">
        <p>{{products.description}}</p>
    </section>
    <section class="info">
        <p>{{products.category}}</p>
        <p>Preço: R${{products.price}}</p>
        <p>Quantidade estoque: {{products.quantity}}</p>
    </section>
    <a href="/">Voltar</a>
</div>